*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

header, section {
  margin-bottom: 20px;
  text-align: center;
}

section article p {
  margin-bottom: 10px;
}

#css-id-selector span, .css-class-selector span {
  color: darkred;
}

h3[title] {
  color: darkred;
}
h3[title="second-title"] {
  color: darkred;
}
h3[title^="third"] {
  color: darkred;
}
h3[title$="fourth"] {
  color: darkred;
}
h3[title*="fifth"] {
  color: darkred;
}

.descendant-selector p {
  color: darkred;
}
div[title^="child"] > p {
  color: darkred;
}
div[title^="adjacent"] h3 + p {
  color: darkred;
}

div[title^="general"] h3 ~ p {
  color: darkred;
}